<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supergo.mapper.TypetemplateMapper">
  <resultMap id="BaseResultMap" type="com.supergo.pojo.Typetemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="spec_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="brand_ids" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="custom_attribute_items" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, spec_ids, brand_ids, custom_attribute_items
  </sql>
</mapper>