<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      body {
        height: 2000px;
        background: #f00;
      }
    </style>
  </head>
  <body>
    <div></div>
    <script>
      function debounce(fn, wait, time) {
        var previous = null; //记录上一次运行的时间
        var timer = null;

        return function() {
          var now = +new Date();
          if (!previous) previous = now;
          //当上一次执行的时间与当前的时间差大于设置的执行间隔时长的话，就主动执行一次
          if (now - previous > time) {
            clearTimeout(timer);
            fn();
            previous = now; // 执行函数后，马上记录当前时间
          } else {
            clearTimeout(timer);
            timer = setTimeout(function() {
              fn();
            }, wait);
          }
        };
      }
      function _log(){
    console.log(1)
}
      window.onscroll = debounce(_log, 500, 2000);
    </script>
  </body>
</html>
